body {
  width: 100%;
}
body:before,
body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
input,
button {
  margin: 0;
  padding: 0;
}
input::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}
@font-face {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  src: url("fonts/fontawesome-webfont.eot?v=#4.0.3");
  src: url("fonts/fontawesome-webfont.eot?#iefix&v=#4.0.3") format("embedded-opentype"), url("fonts/fontawesome-webfont.woff?v=#4.0.3") format("woff"), url("fonts/fontawesome-webfont.ttf?v=#4.0.3") format("truetype"), url("fonts/fontawesome-webfont.svg#fontawesomeregular?v=#4.0.3") format("svg");
}
html,
body,
#container {
  height: 100%;
}
body {
  background: #fff /*#eee #f5f5d5*/;
  font: 16px "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-text-size-adjust: 100%;
}
.outer {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 20px;
}
.outer:before,
.outer:after {
  content: "";
  display: table;
}
.outer:after {
  clear: both;
}
.inner {
  display: inline;
  float: left;
  width: 98.33333333333333%;
  margin: 0 0.833333333333333%;
}
.left,
.alignleft {
  float: left;
}
.right,
.alignright {
  float: right;
}
.clear {
  clear: both;
}
#container {
  position: relative;
}
.mobile-nav-on {
  overflow: hidden;
}
#wrap {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: 0.2s ease-out;
  -moz-transition: 0.2s ease-out;
  -ms-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  z-index: 1;
  background: #fff /*#eee #f5f5d5*/;
}
.mobile-nav-on #wrap {
  left: 280px;
}
@media screen and (min-width: 768px) {
  #main {
    display: inline;
    float: left;
    width: 73.33333333333333%;
    margin: 0 0.833333333333333%;
  }
}
.article-date,
.article-category-link,
.archive-year,
.follow-title,
.widget-title {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #999;
  margin-bottom: 1em;
  margin-left: 5px;
  line-height: 1em;
  text-shadow: 0 1px #fff;
  font-weight: bold;
}
.article-entry h1,
.widget h1 {
  font-size: 2em;
}
.article-entry h2,
.widget h2 {
  font-size: 1.5em;
}
.article-entry h3,
.widget h3 {
  font-size: 1.3em;
}
.article-entry h4,
.widget h4 {
  font-size: 1.2em;
}
.article-entry h5,
.widget h5 {
  font-size: 1em;
}
.article-entry h6,
.widget h6 {
  font-size: 1em;
  color: #999;
}
.article-entry hr,
.widget hr {
  border: 1px dashed #ddd;
}
.article-entry strong,
.widget strong {
  font-weight: bold;
}
.article-entry em,
.widget em,
.article-entry cite,
.widget cite {
  font-style: italic;
}
.article-entry sup,
.widget sup,
.article-entry sub,
.widget sub {
  font-size: 0.75em;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
.article-entry sup,
.widget sup {
  top: -0.5em;
}
.article-entry sub,
.widget sub {
  bottom: -0.2em;
}
.article-entry small,
.widget small {
  font-size: 0.85em;
}
.article-entry acronym,
.widget acronym,
.article-entry abbr,
.widget abbr {
  border-bottom: 1px dotted;
}
.article-entry ul,
.widget ul,
.article-entry ol,
.widget ol,
.article-entry dl,
.widget dl {
  margin: 0 20px;
  line-height: 1.6em;
}
.article-entry ul ul,
.widget ul ul,
.article-entry ol ul,
.widget ol ul,
.article-entry ul ol,
.widget ul ol,
.article-entry ol ol,
.widget ol ol {
  margin-top: 0;
  margin-bottom: 0;
}
.article-entry ul,
.widget ul {
  list-style: disc;
}
.article-entry ol,
.widget ol {
  list-style: decimal;
}
.article-entry dt,
.widget dt {
  font-weight: bold;
}
#categories ul.category-list-child li >a:before {
  font-family: FontAwesome;
  padding-right: 4px;
}
.follow .github:before,
.follow .weibo:before,
.follow .email:before,
.follow .zhihu:before,
.follow .wechat:before {
  font-family: FontAwesome;
  padding: 6px;
}
#header {
  padding-top: 1em;
  position: relative;
  border-bottom: 1px solid #ddd;
}
@media screen and (max-width: 479px) {
  #header {
    padding-top: 0;
  }
}
#header-outer {
  height: 100%;
  position: relative;
}
#header-inner {
  position: relative;
  overflow: hidden;
}
#banner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
#header-title {
  height: 1.6em;
  position: absolute;
  top: 50%;
  width: auto;
  left: 2%;
  margin-top: -0.8em;
}
@media screen and (max-width: 479px) {
  #header-title {
    left: 12%;
    clear: both;
  }
}
#logo,
#subtitle {
  text-decoration: none;
  color: #555;
  font-weight: 100;
}
#logo {
  font-size: 1.6em;
  line-height: 1.2em;
  letter-spacing: 1px;
}
@media screen and (max-width: 479px) {
  #logo {
    font-size: 1.2em;
    line-height: 1.7em;
  }
}
#subtitle {
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 1px;
}
#subtitle-wrap {
  margin-top: 14px;
}
#main-nav {
  float: right;
  margin-right: 100px;
}
@media screen and (max-width: 479px) {
  #main-nav {
    float: left;
    margin: 0 0 0 -20px;
  }
}
.nav-icon,
.main-nav-link {
  float: left;
  color: #333;
  opacity: 0.6;
  text-decoration: none;
  text-shadow: 0 1px rgba(0,0,0,0.2);
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  transition: opacity 0.2s;
  display: block;
  padding: 20px 15px;
}
.nav-icon:hover,
.main-nav-link:hover {
  opacity: 1;
}
.nav-icon {
  font-family: FontAwesome;
  text-align: center;
  font-size: 16px;
  width: 16px;
  height: 16px;
  padding: 20px 15px;
  position: relative;
  cursor: pointer;
}
.main-nav-link {
  font-weight: 300;
  letter-spacing: 1px;
}
@media screen and (max-width: 479px) {
  .main-nav-link {
    display: none;
  }
}
#main-nav-toggle {
  display: none;
}
#main-nav-toggle:before {
  content: "\f0c9";
}
@media screen and (max-width: 479px) {
  #main-nav-toggle {
    display: block;
  }
}
#sub-nav {
  float: right;
  margin-right: -15px;
}
#nav-rss-link:before {
  content: "\f09e";
}
#nav-search-btn:before {
  content: "\f002";
}
#search-form-wrap {
  position: absolute;
  z-index: 100;
  top: 15px;
  width: 290px;
  height: 30px;
  right: -290px;
  opacity: 0;
  -webkit-transition: 0.2s ease-out;
  -moz-transition: 0.2s ease-out;
  -ms-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}
#search-form-wrap.on {
  opacity: 1;
  right: 0;
}
@media screen and (max-width: 479px) {
  #search-form-wrap {
    width: 100%;
    right: -100%;
  }
}
.search-form {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  padding: 5px 15px;
  border-radius: 15px;
  -webkit-box-shadow: 0 0 10px rgba(255,255,255,0.3);
  box-shadow: 0 0 10px rgba(255,255,255,0.3);
}
.search-form-input {
  border: none;
  background: none;
  color: #333;
  width: 200%;
  font: 13px "Helvetica Neue", Helvetica, Arial, sans-serif;
  outline: none;
}
.search-form-input::-webkit-search-results-decoration,
.search-form-input::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
.search-form-submit {
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -7px;
  font: 13px FontAwesome;
  border: none;
  background: none;
  color: #bbb;
  cursor: pointer;
}
.search-form-submit:hover,
.search-form-submit:focus {
  color: #777;
}
.article {
  margin: 50px 0;
}
.article-inner {
  overflow: hidden;
}
.article-meta:before,
.article-meta:after {
  content: "";
  display: table;
}
.article-meta:after {
  clear: both;
}
.article-date {
  float: left;
}
.article-category {
  float: left;
  line-height: 1em;
  color: #ccc;
  text-shadow: 0 1px #fff;
  margin-left: 8px;
}
.article-category:before {
  content: "\2022";
}
.article-category-link {
  margin: 0 12px 1em;
}
.article-header {
  padding: 20px 20px 0;
}
.article-title {
  text-decoration: none;
  font-size: 2em;
  font-weight: 500;
  color: #333;
  padding: 0 0 0.2em 0;
  color: #333;
  line-height: 1.1em;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -ms-transition: color 0.2s;
  transition: color 0.2s;
}
a.article-title:hover {
  color: #258fb8;
}
@media screen and (max-width: 479px) {
  .article-title {
    font-size: 1.5em;
  }
}
.article-entry {
  color: #333;
  padding: 0 20px;
}
.article-entry:before,
.article-entry:after {
  content: "";
  display: table;
}
.article-entry:after {
  clear: both;
}
.article-entry p,
.article-entry table {
  line-height: 1.6em;
  margin: 0.8em 0;
}
.article-entry h1,
.article-entry h2,
.article-entry h3,
.article-entry h4,
.article-entry h5,
.article-entry h6 {
  font-weight: 500;
}
.article-entry h1,
.article-entry h2,
.article-entry h3,
.article-entry h4,
.article-entry h5,
.article-entry h6 {
  line-height: 1.1em;
  margin: 1.1em 0;
}
.article-entry a {
  color: #258fb8;
  text-decoration: none;
}
.article-entry a:hover {
  text-decoration: underline;
}
.article-entry ul,
.article-entry ol,
.article-entry dl {
  margin-top: 1.6em;
  margin-bottom: 1.6em;
}
.article-entry img,
.article-entry video {
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto;
}
.article-entry iframe {
  border: none;
}
.article-entry table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
.article-entry th {
  font-weight: 500;
  border-bottom: 3px solid #ddd;
  padding-bottom: 0.5em;
}
.article-entry td {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}
.article-entry blockquote {
  font-family: Georgia, "Times New Roman", serif;
  font-size: 1.4em;
  margin: 1.6em 20px;
  padding: 0.5em 1em;
  overflow: auto;
  border-left-style: solid;
  border-left-width: 10px;
  border-top-left-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
  border-color: #d6dbdf;
  background: none repeat scroll 0 0 rgba(102,128,153,0.05);
}
.article-entry blockquote footer {
  font-size: 16px;
  margin: 1.6em 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.article-entry blockquote footer cite:before {
  content: "—";
  padding: 0 0.5em;
}
@media screen and (max-width: 479px) {
  .article-entry blockquote {
    font-size: 1em;
    margin: 1.2em 0;
  }
}
.article-entry .pullquote {
  text-align: left;
  width: 45%;
  margin: 0;
}
.article-entry .pullquote.left {
  margin-left: 0.5em;
  margin-right: 1em;
}
.article-entry .pullquote.right {
  margin-right: 0.5em;
  margin-left: 1em;
}
.article-entry .caption {
  color: #999;
  display: block;
  font-size: 0.9em;
  margin-top: 0.5em;
  position: relative;
  text-align: center;
}
.article-entry .video-container {
  position: relative;
  padding-top: 56.25%;
  height: 0;
  overflow: hidden;
}
.article-entry .video-container iframe,
.article-entry .video-container object,
.article-entry .video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-top: 0;
}
.article-more-link a {
  display: inline-block;
  line-height: 1em;
  padding: 6px 15px;
  border-radius: 15px;
  background: #fff /*#eee #f5f5d5*/;
  color: #008000;
  text-shadow: 0 1px #fff;
  text-decoration: none;
}
.article-more-link a:hover {
  background: #258fb8;
  color: #fff;
  text-decoration: none;
  text-shadow: 0 1px #1e7293;
}
.article-footer {
  font-size: 0.85em;
  line-height: 1.6em;
  border-top: 1px solid #ddd;
  padding-top: 1.6em;
  margin: 0 20px 20px;
}
.article-footer:before,
.article-footer:after {
  content: "";
  display: table;
}
.article-footer:after {
  clear: both;
}
.article-footer a {
  color: #999;
  text-decoration: none;
}
.article-footer a:hover {
  color: #333;
}
.article-tag-list-item {
  float: left;
  margin-right: 10px;
}
.article-tag-list-link:before {
  content: "#";
}
.article-comment-link {
  float: right;
}
.article-comment-link:before {
  content: "\f075";
  font-family: FontAwesome;
  padding-right: 8px;
}
.article-share-link {
  cursor: pointer;
  float: right;
  margin-left: 20px;
}
.article-share-link:before {
  content: "\f064";
  font-family: FontAwesome;
  padding-right: 6px;
}
#article-nav {
  position: relative;
}
#article-nav:before,
#article-nav:after {
  content: "";
  display: table;
}
#article-nav:after {
  clear: both;
}
@media screen and (min-width: 768px) {
  #article-nav {
    margin: 50px 0;
  }
  #article-nav:before {
    width: 8px;
    height: 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -4px;
    margin-left: -4px;
    content: "";
    border-radius: 50%;
    background: #ddd;
    -webkit-box-shadow: 0 1px 2px #fff;
    box-shadow: 0 1px 2px #fff;
  }
}
.article-nav-link-wrap {
  text-decoration: none;
  text-shadow: 0 1px #fff;
  color: #999;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 50px;
  text-align: center;
  display: block;
}
.article-nav-link-wrap:hover {
  color: #333;
}
@media screen and (min-width: 768px) {
  .article-nav-link-wrap {
    width: 50%;
    margin-top: 0;
  }
}
@media screen and (min-width: 768px) {
  #article-nav-newer {
    float: left;
    text-align: right;
    padding-right: 20px;
  }
}
@media screen and (min-width: 768px) {
  #article-nav-older {
    float: right;
    text-align: left;
    padding-left: 20px;
  }
}
.article-nav-caption {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #999;
  line-height: 1em;
  font-weight: 500;
}
#article-nav-newer .article-nav-caption {
  margin-right: -2px;
}
.article-nav-title {
  font-size: 0.85em;
  line-height: 1.6em;
  margin-top: 0.5em;
}
.article-share-box {
  position: absolute;
  display: none;
  background: #fff;
  -webkit-box-shadow: 1px 2px 10px rgba(0,0,0,0.2);
  box-shadow: 1px 2px 10px rgba(0,0,0,0.2);
  border-radius: 3px;
  margin-left: -145px;
  width: 200px;
  overflow: hidden;
  z-index: 1;
}
.article-share-box.on {
  display: block;
}
.article-share-input {
  width: 100%;
  background: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 0 15px;
  color: #333;
  outline: none;
  border: 1px solid #ddd;
  border-radius: 3px 3px 0 0;
  height: 36px;
  line-height: 36px;
}
.article-share-links {
  background: #fff /*#eee #f5f5d5*/;
}
.article-share-links:before,
.article-share-links:after {
  content: "";
  display: table;
}
.article-share-links:after {
  clear: both;
}
.article-share-weibo,
.article-share-wechat,
.article-share-qq,
.article-share-qqzone,
.article-share-twitter,
.article-share-facebook,
.article-share-pinterest,
.article-share-google {
  width: 50px;
  height: 36px;
  display: block;
  float: left;
  position: relative;
  color: #999;
  text-shadow: 0 1px #fff;
}
.article-share-weibo:before,
.article-share-wechat:before,
.article-share-qq:before,
.article-share-qqzone:before,
.article-share-twitter:before,
.article-share-facebook:before,
.article-share-pinterest:before,
.article-share-google:before {
  font-size: 20px;
  font-family: FontAwesome;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -10px;
  margin-left: -10px;
  text-align: center;
}
.article-share-weibo:hover,
.article-share-wechat:hover,
.article-share-qq:hover,
.article-share-qqzone:hover,
.article-share-twitter:hover,
.article-share-facebook:hover,
.article-share-pinterest:hover,
.article-share-google:hover {
  color: #fff;
}
.article-share-weibo:before {
  content: "\f18a";
}
.article-share-weibo:hover {
  background: #cb2027;
  text-shadow: 0 1px #a21a1f;
}
.article-share-wechat:before {
  content: "\f1d7";
}
.article-share-wechat:hover {
  background: #24bd2a;
  text-shadow: 0 1px #1d9722;
}
.article-share-qq:before {
  content: "\f1d6";
}
.article-share-qq:hover {
  background: #00aced;
  text-shadow: 0 1px #008abe;
}
.article-share-qqzone:before {
  content: "\f1d5";
}
.article-share-qqzone:hover {
  background: #cfcb0d;
  text-shadow: 0 1px #a6a20a;
}
.article-share-twitter:before {
  content: "\f099";
}
.article-share-twitter:hover {
  background: #00aced;
  text-shadow: 0 1px #008abe;
}
.article-share-facebook:before {
  content: "\f09a";
}
.article-share-facebook:hover {
  background: #3b5998;
  text-shadow: 0 1px #2f477a;
}
.article-share-pinterest:before {
  content: "\f0d2";
}
.article-share-pinterest:hover {
  background: #cb2027;
  text-shadow: 0 1px #a21a1f;
}
.article-share-google:before {
  content: "\f0d5";
}
.article-share-google:hover {
  background: #dd4b39;
  text-shadow: 0 1px #be3221;
}
.article-gallery {
  background: #000;
  position: relative;
}
.article-gallery-photos {
  position: relative;
  overflow: hidden;
}
.article-gallery-img {
  display: none;
  max-width: 100%;
}
.article-gallery-img:first-child {
  display: block;
}
.article-gallery-img.loaded {
  position: absolute;
  display: block;
}
.article-gallery-img img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}
.toc-article {
  background: #eee;
  border: 1px solid #bbb;
  border-radius: 10px;
  margin: 1.5em 0 0.3em 1.5em;
  padding: 1.2em 1em 0 1em;
  max-width: 28%;
}
.toc-title {
  font-size: 120%;
}
#toc {
  line-height: 1em;
  font-size: 0.9em;
  float: right;
}
.toc {
  padding: 0;
  margin: 1em;
  line-height: 1.8em;
}
.toc li {
  list-style-type: none;
}
.toc-child {
  margin-left: 1em;
}
#toc-widget {
  background: #eee;
}
#toc-widget-fixed {
  background: #eee;
  position: fixed;
  max-height: 650px;
  overflow-y: auto;
  -webkit-box-shadow: 2px 3px 4px #ccc9c9;
  box-shadow: 2px 3px 4px #ccc9c9;
}
.toc-widget-list {
  background: #eee;
  margin: 0.4em 0 0.3em 0.6em;
  padding: 1.2em 1em 0 1em;
  max-width: 90%;
}
.toc-widget-list li>a {
  color: #258fb8;
  font-size: 120%;
}
#comments {
  background: #fff;
  -webkit-box-shadow: 1px 2px 3px #ddd;
  box-shadow: 1px 2px 3px #ddd;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 3px;
  margin: 50px 0;
}
#comments a {
  color: #258fb8;
}
#ds-thread div.ds-rounded-top {
  background: #fff !important;
}
.hot-comments div.ds-top-threads {
  list-style: none;
  text-decoration: underline;
}
.archives-wrap {
  margin: 50px 0 50px 120px;
}
@media screen and (max-width: 479px) {
  .archives-wrap {
    margin: 50px 0;
  }
}
.archives:before,
.archives:after {
  content: "";
  display: table;
}
.archives:after {
  clear: both;
}
.archive-year-wrap {
  margin-bottom: 1em;
}
.archive-year-post {
  color: #999;
  font-size: 0.85em;
  margin-left: 1em;
}
.archive-article {
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  overflow: hidden;
  break-inside: avoid-column;
}
.archive-article-inner {
  padding: 10px;
}
.archive-article-title {
  margin-left: 1em;
  color: #333;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -ms-transition: color 0.2s;
  transition: color 0.2s;
}
.archive-article-title:hover {
  color: #258fb8;
}
.archive-article-footer {
  margin-top: 1em;
}
.archive-article-date {
  float: left;
  color: #999;
  text-decoration: none;
  font-size: 0.85em;
  margin-bottom: 0.5em;
  display: block;
}
#page-nav {
  margin: 50px auto;
  background: #fff;
  -webkit-box-shadow: 1px 2px 3px #ddd;
  box-shadow: 1px 2px 3px #ddd;
  border: 1px solid #fff /*#eee #f5f5d5*/;
  border-radius: 3px;
  text-align: center;
  color: #999;
  overflow: hidden;
}
#page-nav:before,
#page-nav:after {
  content: "";
  display: table;
}
#page-nav:after {
  clear: both;
}
#page-nav a,
#page-nav span {
  padding: 10px 20px;
  line-height: 1;
  height: 2ex;
}
#page-nav a {
  color: #999;
  text-decoration: none;
}
#page-nav a:hover {
  background: #999;
  color: #fff;
}
#page-nav .prev {
  float: left;
}
#page-nav .next {
  float: right;
}
#page-nav .page-number {
  display: inline-block;
}
@media screen and (max-width: 479px) {
  #page-nav .page-number {
    display: none;
  }
}
#page-nav .current {
  color: #333;
  font-weight: bold;
}
#page-nav .space {
  color: #333;
}
#footer {
  background: #f5f5d5 /*#eee*/;
  padding: 10px 0;
  margin-bottom: 25px;
  border-top: 1px solid #ddd;
  color: #999;
}
#footer a {
  color: #258fb8;
  text-decoration: none;
}
#footer a:hover {
  text-decoration: underline;
}
#footer-left {
  float: left;
  line-height: 1.6em;
  font-size: 0.85em;
}
#footer-right {
  float: right;
  font-size: 0.85em;
}
@media screen and (max-width: 479px) {
  #footer-right {
    float: left;
    margin-top: 5px;
    font-size: 0.85em;
  }
}
.article-entry pre,
.article-entry .highlight {
  background: #f5f2f0;
  margin: 0 -20px;
  padding: 15px 20px;
  border-style: solid;
  border-color: #ddd;
  border-width: 2px;
  border-radius: 10px;
  overflow: auto;
  color: #4d4d4c;
  line-height: 25.6px;
}
.article-entry .highlight .gutter pre,
.article-entry .gist .gist-file .gist-data .line-numbers {
  color: #666;
  font-size: 0.85em;
}
.article-entry pre,
.article-entry code {
  font-family: "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace;
}
.article-entry code {
  background: #ffc0cb;
  color: #333;
  border-radius: 4px;
  margin: auto 3px;
  padding: 0 0.3em;
}
.article-entry pre > code {
  background: none;
  text-shadow: none;
  color: #333;
  padding: 0;
}
.article-entry .highlight pre {
  border: none;
  margin: 0;
  padding: 0;
}
.article-entry .highlight table {
  margin: 0;
  width: auto;
}
.article-entry .highlight td {
  border: none;
  padding: 0;
}
.article-entry .highlight figcaption {
  font-size: 0.85em;
  color: #8e908c;
  line-height: 1em;
  margin-bottom: 1em;
}
.article-entry .highlight figcaption:before,
.article-entry .highlight figcaption:after {
  content: "";
  display: table;
}
.article-entry .highlight figcaption:after {
  clear: both;
}
.article-entry .highlight figcaption a {
  float: right;
}
.article-entry .highlight .gutter pre {
  text-align: right;
  padding-right: 20px;
}
.article-entry .highlight .line {
  height: 25.6px;
}
.article-entry .highlight .line.marked {
  background: #d6d6d6;
}
.article-entry .gist {
  margin: 0 -20px;
  border-style: solid;
  border-color: #ddd;
  border-width: 1px 0;
  background: #f5f2f0;
  padding: 15px 20px 15px 0;
}
.article-entry .gist .gist-file {
  border: none;
  font-family: "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace;
  margin: 0;
}
.article-entry .gist .gist-file .gist-data {
  background: none;
  border: none;
}
.article-entry .gist .gist-file .gist-data .line-numbers {
  background: none;
  border: none;
  padding: 0 20px 0 0;
}
.article-entry .gist .gist-file .gist-data .line-data {
  padding: 0 !important;
}
.article-entry .gist .gist-file .highlight {
  margin: 0;
  padding: 0;
  border: none;
}
.article-entry .gist .gist-file .gist-meta {
  background: #f5f2f0;
  color: #8e908c;
  font: 0.85em "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-shadow: 0 0;
  padding: 0;
  margin-top: 1em;
  margin-left: 20px;
}
.article-entry .gist .gist-file .gist-meta a {
  color: #258fb8;
  font-weight: normal;
}
.article-entry .gist .gist-file .gist-meta a:hover {
  text-decoration: underline;
}
pre .comment,
pre .title {
  color: #8e908c;
}
pre .variable,
pre .attribute,
pre .tag,
pre .regexp,
pre .ruby .constant,
pre .xml .tag .title,
pre .xml .pi,
pre .xml .doctype,
pre .html .doctype,
pre .css .id,
pre .css .class,
pre .css .pseudo {
  color: #c82829;
}
pre .number,
pre .preprocessor,
pre .built_in,
pre .literal,
pre .params,
pre .constant {
  color: #f5871f;
}
pre .class,
pre .ruby .class .title,
pre .css .rules .attribute {
  color: #718c00;
}
pre .string,
pre .value,
pre .inheritance,
pre .header,
pre .ruby .symbol,
pre .xml .cdata {
  color: #718c00;
}
pre .css .hexcolor {
  color: #3e999f;
}
pre .function,
pre .python .decorator,
pre .python .title,
pre .ruby .function .title,
pre .ruby .title .keyword,
pre .perl .sub,
pre .javascript .title,
pre .coffeescript .title {
  color: #4271ae;
}
pre .keyword,
pre .javascript .function {
  color: #8959a8;
}
@media screen and (max-width: 479px) {
  #mobile-nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 280px;
    height: 100%;
    background: #504f4f;
    border-right: 1px solid #fff;
  }
}
@media screen and (max-width: 479px) {
  .mobile-nav-link {
    display: block;
    color: #999;
    text-decoration: none;
    padding: 15px 20px;
    font-weight: bold;
  }
  .mobile-nav-link:hover {
    color: #fff;
  }
}
span.ua {
  margin: 0 1px !important;
  color: #fff !important;
  opacity: 0.9;
}
span.ua .location {
  color: #999;
  padding-right: 4px !important;
  padding-left: 4px !important;
  border-bottom-left-radius: 4px !important;
  border-top-left-radius: 4px !important;
}
span.ua .location:before {
  font-family: FontAwesome;
  content: "\f041";
  padding-right: 4px;
}
.ua_other.os_other {
  background-color: #ccc !important;
  color: #fff;
  border: 1px solid #bbb !important;
  border-radius: 4px;
}
.ua_ie {
  background-color: #428bca !important;
  border-color: #357ebd !important;
  border-radius: 4px;
  padding: 0 5px !important;
}
.ua_firefox {
  background-color: #f0ad4e !important;
  border-color: #eea236 !important;
  border-radius: 4px;
  padding: 0 5px !important;
}
.ua_maxthon {
  background-color: #7373b9 !important;
  border-color: #7373b9 !important;
  border-radius: 4px;
  padding: 0 5px !important;
}
.ua_ucweb {
  background-color: #ff740f !important;
  border-color: #d43f3a !important;
  border-radius: 4px;
  padding: 0 5px !important;
}
.ua_sogou {
  background-color: #78ace9 !important;
  border-color: #4cae4c !important;
  border-radius: 4px;
  padding: 0 5px !important;
}
.ua_2345explorer {
  background-color: #2478b8 !important;
  border-color: #4cae4c !important;
  border-radius: 4px;
  padding: 0 5px !important;
}
.ua_2345chrome {
  background-color: #f9d024 !important;
  border-color: #4cae4c !important;
  border-radius: 4px;
  padding: 0 5px !important;
}
.ua_mi {
  background-color: #ff4a00 !important;
  border-color: #4cae4c !important;
  border-radius: 4px;
  padding: 0 5px !important;
}
.ua_lbbrowser {
  background-color: #fc9d2e !important;
  border-color: #4cae4c !important;
  border-radius: 4px;
  padding: 0 5px !important;
}
.ua_chrome {
  background-color: #ee6252 !important;
  border-color: #4cae4c !important;
  border-radius: 4px;
  padding: 0 5px !important;
}
.ua_qq {
  background-color: #3d88a8 !important;
  border-color: #4cae4c !important;
  border-radius: 4px;
  padding: 0 5px !important;
}
.ua_apple {
  background-color: #e95620 !important;
  border-color: #4cae4c !important;
  border-radius: 4px;
  padding: 0 5px !important;
}
.ua_opera {
  background-color: #d9534f !important;
  border-color: #d43f3a !important;
  border-radius: 4px;
  padding: 0 5px !important;
}
.os_vista,
.os_2000,
.os_windows,
.os_xp,
.os_7,
.os_8,
.os_8_1 {
  background-color: #39b3d7 !important;
  border-color: #46b8da !important;
  border-radius: 4px;
  padding: 0 5px !important;
}
.os_android {
  background-color: #98c13d !important;
  border-color: #01b171 !important;
  border-radius: 4px;
  padding: 0 5px !important;
}
.os_ubuntu {
  background-color: #dd4814 !important;
  border-color: #01b171 !important;
  border-radius: 4px;
  padding: 0 5px !important;
}
.os_linux {
  background-color: #3a3a3a !important;
  border-color: #1f1f1f !important;
  border-radius: 4px;
  padding: 0 5px !important;
}
.os_mac {
  background-color: #666 !important;
  border-color: #1f1f1f !important;
  border-radius: 4px;
  padding: 0 5px !important;
}
.os_unix {
  background-color: #060 !important;
  border-color: #1f1f1f !important;
  border-radius: 4px;
  padding: 0 5px !important;
}
.os_nokia {
  background-color: #014485 !important;
  border-color: #1f1f1f !important;
  border-radius: 4px;
  padding: 0 5px !important;
}
.sskadmin {
  background-color: #00a67c !important;
  border-color: #01b171 !important;
  border-radius: 4px;
  padding: 0 5px !important;
}
.back-to-top-btn {
  position: fixed;
  display: none;
  right: 30px;
  bottom: 100px;
  z-index: 300 !important;
  cursor: pointer;
}
.back-to-top-btn:hover {
  border: 0.5px dashed #555;
}
@media screen and (max-width: 479px) {
  .back-to-top-btn {
    width: auto;
    height: 60px;
    z-index: 400;
  }
  .back-to-top-btn:hover {
    border: none;
  }
}
.follow-title {
  text-transform: none !important;
}
.follow {
  text-align: center !important;
  font-size: 2em !important;
  line-height: 1em !important;
}
.follow a {
  color: #50504f !important;
  text-decoration: none !important;
}
.follow .github:before {
  content: "\f092" !important;
}
.follow .github:hover {
  color: #333;
  cursor: pointer;
  background-color: #fff /*#eee #f5f5d5*/;
}
.follow .weibo:before {
  content: "\f18a" !important;
}
.follow .weibo:hover {
  color: #333;
  cursor: pointer;
  background-color: #fff /*#eee #f5f5d5*/;
}
.follow .email:before {
  content: "\f0e0" !important;
}
.follow .email:hover {
  color: #333;
  cursor: pointer;
  background-color: #fff /*#eee #f5f5d5*/;
}
.follow .zhihu:before {
  content: "\f0ac" !important;
}
.follow .zhihu:hover {
  color: #333;
  cursor: pointer;
  background-color: #fff /*#eee #f5f5d5*/;
}
.follow .wechat:before {
  content: "\f1d7" !important;
}
.follow .wechat:hover {
  color: #333;
  cursor: pointer;
  background-color: #fff /*#eee #f5f5d5*/;
}
.wechat-widget {
  text-align: center;
  margin: 1px auto;
  overflow: hidden;
}
.wechat-widget > img {
  border-radius: 2em;
  -webkit-transition: -webkit-transform 6s ease-out;
  -moz-transition: -moz-transform 6s ease-out;
  -o-transition: -o-transform 6s ease-out;
  -ms-transition: -ms-transform 6s ease-out;
}
.wechat-widget > img:hover {
  -webkit-transform: rotateZ(360deg);
  -moz-transform: rotateZ(360deg);
  -o-transform: rotateZ(360deg);
  -ms-transform: rotateZ(360deg);
  -webkit-transform: rotateZ(360deg);
  -moz-transform: rotateZ(360deg);
  -ms-transform: rotateZ(360deg);
  transform: rotateZ(360deg);
}
#random_posts {
  margin-top: 2em;
  font-family: Georgia, serif;
}
#random_posts ul {
  margin-left: 1.5em;
}
#random_posts p,
#random_posts li {
  line-height: 170%;
  list-style-type: square;
}
#random_posts h2 {
  font-size: 1.58em;
  line-height: 1.35em;
}
@media screen and (max-width: 479px) {
  #random_posts h2 {
    font-size: 1.2em;
  }
}
#random_posts h1,
#random_posts h2,
#random_posts h3 {
  margin: 0.4em 0 0.2em 0;
  padding: 0 0 0.2em 0;
  color: #000;
  font-weight: 500;
  letter-spacing: -0.03em;
  border-bottom: 1px solid #d3d3d3;
}
#random_posts li div.post-excerpt {
  margin-left: 1em;
  padding-left: 0.4em;
  border-left: 0.4em solid #808080;
}
#random_posts li div.post-excerpt h1,
#random_posts li div.post-excerpt h2,
#random_posts li div.post-excerpt h3 {
  border-bottom: none;
}
#random_posts li div.post-excerpt h1,
#random_posts li div.post-excerpt h2,
#random_posts li div.post-excerpt h3,
#random_posts li div.post-excerpt h4 {
  font-size: 1em;
  font-weight: normal;
}
@media screen and (min-width: 768px) {
  #sidebar {
    display: inline;
    float: left;
    width: 23.333333333333332%;
    margin: 0 0.833333333333333%;
  }
}
.widget-wrap {
  margin: 50px 0;
}
.widget {
  color: #777;
  background: #deebf7 /*#ddd*/;
  -webkit-box-shadow: 0 -1px 4px #eee inset;
  box-shadow: 0 -1px 4px #eee inset;
  border: 1px solid #eee;
  padding: 15px;
  border-radius: 10px;
}
.widget a {
  color: #333;
  text-decoration: none;
}
.widget a:hover {
  text-decoration: underline;
}
.widget ul ul,
.widget ol ul,
.widget dl ul,
.widget ul ol,
.widget ol ol,
.widget dl ol,
.widget ul dl,
.widget ol dl,
.widget dl dl {
  margin-left: 15px;
}
#categories ul.category-list-child li >a:before {
  content: "\f0da";
  color: #999;
}
.widget {
  line-height: 1.6em;
  word-wrap: break-word;
  font-size: 0.9em;
}
.widget ul,
.widget ol {
  list-style: none;
  margin: 0;
}
.widget ul ul,
.widget ol ul,
.widget ul ol,
.widget ol ol {
  margin: 0 20px;
}
.widget ul ol,
.widget ol ol {
  list-style: decimal;
}
.category-list-count,
.tag-list-count,
.archive-list-count {
  padding-left: 5px;
  color: #999;
  font-size: 0.85em;
}
.category-list-count:before,
.tag-list-count:before,
.archive-list-count:before {
  content: "(";
}
.category-list-count:after,
.tag-list-count:after,
.archive-list-count:after {
  content: ")";
}
.tagcloud a {
  margin-right: 5px;
  display: inline-block;
}
